<div><p>{{ description }}</p></div>
<style>
    .wgf_checkout_button:hover {
        opacity: 0.85;
    }
    .wgf_checkout_button_disabled {
        opacity: 0.5;
        cursor: wait;
    }
    .wgf_checkout_button_img {
        max-width: 320px;
    }
</style>
<script>
    jQuery(document).ready(function() {
        jQuery('form[name="checkout"] input[name="payment_method"]')
            .eq(0)
            .prop('checked', true)
            .attr( 'checked', 'checked' );
        wGF_WC_Gateway();
    });

    jQuery(document).off("change", "form[name='checkout'] input[name='payment_method']");

    jQuery(document).on("change", "form[name='checkout'] input[name='payment_method']", function(){
        if ( 0 === jQuery('form[name="checkout"] input[name="payment_method"]').filter( ':checked' ).size() ) {
            jQuery(this).prop('checked', true).attr( 'checked', 'checked' );
        };
        wGF_WC_Gateway();
    });

    function wGF_WC_Gateway(){
        const checkoutButton = jQuery('form[name="checkout"] #place_order');

        if (jQuery('form[name="checkout"] input[name="payment_method"]:checked').val() === '{{ payment_method_id }}') {
            if ( jQuery(".woocommerce-error").length ) {
                jQuery(".woocommerce-error").parent().remove();
            }

            checkoutButton.hide();

            if(jQuery('#wgf_checkout_button').length <= 0) {
                checkoutButton.parent().append(`
                            <a id="wgf_checkout_button"  class="wgf_checkout_button" href="#wgf_checkout">
                                <img src="{{ checkout_button_image_url }}" alt="{{ checkout_button_alt }}" style="max-width: 320px;" class="wgf_checkout_button_img">
                            </a>
                        `);

                jQuery('#wgf_checkout_button').click((e) => {
                    jQuery('#wgf_checkout_button')
                        .attr('disabled', true)
                        .addClass('wgf_checkout_button_disabled')
                        .removeClass('wgf_checkout_button');

                    let wgfFunnelData = {};
                    wgfFunnelData['{{ billing_first_name }}'] = jQuery('#{{ billing_first_name }}').val();
                    wgfFunnelData['{{ billing_last_name }}'] = jQuery('#{{ billing_last_name }}').val();
                    wgfFunnelData['{{ billing_country }}'] = jQuery('#{{ billing_country }}').val();
                    wgfFunnelData['{{ billing_address_1 }}'] = jQuery('#{{ billing_address_1 }}').val();
                    wgfFunnelData['{{ billing_address_2 }}'] = jQuery('#{{ billing_address_2 }}').val();
                    wgfFunnelData['{{ billing_city }}'] = jQuery('#{{ billing_city }}').val();
                    wgfFunnelData['{{ billing_state }}'] = jQuery('#{{ billing_state }}').val();
                    wgfFunnelData['{{ billing_postcode }}'] = jQuery('#{{ billing_postcode }}').val();
                    wgfFunnelData['{{ billing_phone }}'] = jQuery('#{{ billing_phone }}').val();
                    wgfFunnelData['{{ billing_email }}'] = jQuery('#{{ billing_email }}').val();

                    if (jQuery('#ship-to-different-address-checkbox').is(':checked')) {
                        wgfFunnelData['ship-to-different-address-checkbox'] = 'true';
                    } else {
                        wgfFunnelData['ship-to-different-address-checkbox'] = 'false';
                    }

                    let requestNewFunnelData = {
                        'action': '{{ ajax_action }}',
                        '_wpnonce': '{{ nonce }}',
                        'data': wgfFunnelData
                    };

                    jQuery.ajax({
                        type: "post",
                        dataType: "json",
                        url: "{{ ajax_url }}",
                        data: requestNewFunnelData,
                        success: function(response){
                            if ( jQuery(".woocommerce-error").length ) {
                                jQuery(".woocommerce-error").parent().remove();
                            }
                            if (response.isSuccess === false) {
                                let error_message = '<div class="woocommerce-notices-wrapper">' +
                                    '<ul class="woocommerce-error" id="wegetfinancing-woocommerce-error">';

                                if ("message" in response) {
                                    error_message += "<li>" + response.message + "</li>";
                                }
                                if ("violations" in response) {
                                    jQuery.each(response.violations, function( index, violation ) {
                                        jQuery.each(violation.messages, function( index, message ) {
                                            error_message += "<li>" + message + "</li>";
                                        });
                                        jQuery.each(violation.fields, function( index, field ) {
                                            jQuery("#" + field).closest( '.form-row' ).addClass( 'woocommerce-invalid' );
                                        });
                                    });
                                }

                                error_message += "</ul></div>";

                                jQuery("{{ error_display_selector|raw }}").{{ error_display_method }}(error_message);

                                jQuery("html, body").animate({
                                    scrollTop: 0
                                }, 5);
                            } else {
                                jQuery('#{{ order_inv_id_field_id }}').val(response.invId);
                                new GetFinancing(
                                    response.href,
                                    function() {
                                        checkoutButton.click();
                                    }.bind(self),
                                    function() {}
                                );
                            }
                        },
                        error: function(){
                            if ( jQuery(".woocommerce-error").length ) {
                                jQuery(".woocommerce-error").parent().remove();
                            }

                            jQuery("{{ error_display_selector|raw }}").{{ error_display_method }}('<div class="woocommerce-notices-wrapper">' +
                                '<ul class="woocommerce-error" id="wegetfinancing-woocommerce-error">' +
                                '<li>Unexpected server error</li>' +
                                '</ul>' +
                                '</div>');
                        },
                        complete: function (){
                            jQuery('#wgf_checkout_button')
                                .attr('disabled', false)
                                .removeClass('wgf_checkout_button_disabled')
                                .addClass('wgf_checkout_button');
                        }
                    });
                })
            }
        } else {
            jQuery('#wgf_checkout_button').remove()
            checkoutButton.show()
            jQuery('form[name="checkout"]').unbind('submit');
        }
    }
</script>
